<h2>Index/hyperlink/page</h2>

<table>
    <tr>
      <td><%= link_to 'Users', users_path %></td>
    </tr>
    <tr>
      <td><%= link_to 'Groups', groups_path %></td>
    </tr>
    <tr>
      <td><%= link_to 'Links', links_path %></td>
    </tr>
</table>
